@using SupportWeb.ViewModels.Common;
@model PageResult<SupportWeb.ViewModels.Catalog.RequestKH.RequestKHViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content table-hover table-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">

                <div class="form-group col-md-4 col-lg-6">
                    <label>Tên Request</label>
                    <textarea type="text" style="height: 150px; width: 750px" placeholder="Vui lòng nhập chi tiết request" class="form-control"></textarea>
                </div>

                <div class="form-group col-md-4 col-lg-6">
                    <label for="exampleFormControlSelect1">Tên Dự Án</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-6">
                    <label>Form thực hiện</label>
                    <input type="text" placeholder="Form thực hiện" class="form-control">
                </div>
                <div class="form-group col-md-4 col-lg-6">
                    <label>Ghi chú</label>
                    <input type="text" placeholder="Ghi chú" class="form-control">
                </div>
                <div class="form-group col-md-4 col-lg-6">
                    <label>Người yêu cầu</label>
                    <input type="text" placeholder="Người yêu cầu" class="form-control">
                </div>
                <div class="form-group col-md-4 col-lg-6">
                    <label for="exampleFormControlSelect1">Tên Kỹ Thuật</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-6">
                    <label for="exampleFormControlSelect1">Tên Code</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-6">
                    <label for="exampleFormControlSelect1">Trạng Thái</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group col-md-4 col-lg-6">
            <label>Ngày hoàn thành </label>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" class="form-control" value="09:30">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 310.078px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h1>REQUEST KHÁCH HÀNG</h1>

<p>
    @*<a asp-action="Create">Thêm Request</a>*@
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FormNewRquestKH">Thêm Request</button>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Thêm Request
    </button>

</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên Request
            </th>
            <th>
                Trạng Thái
            </th>
            <th>
                Form Thực Hiện
            </th>
            <th>
                Ghi Chú
            </th>
            <th>
                Người Yêu Cầu
            </th>
            <th>
                Ngày Tạo
            </th>
            <th>
                Ngày Hoàn Thành
            </th>
            <th>
                Tên Code
            </th>
            <th>
                Tên Kỹ Thuật
            </th>
            <th>
                Tên Khách Hàng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Stt)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Ma)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormThucHien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiYeuCau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayHoanThanh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTrienKhai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    <button onclick="alert('Đang phát triển')" type="button" class="btn btn-primary">Sửa</button>
                </td>
                <td>
                    <button onclick="alert('Đang phát triển')" type="button" class="btn btn-info">Xem</button>
                </td>
                <td>
                    <button onclick="alert('Đang phát triển')" type="button" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
        }
    </tbody>
</table>

